<!DOCTYPE html>
<html lang="en">
   <%- include("../partials/head.ejs")%>
   <body>
      <%- include("../partials/nav.ejs") %>
      <div class="container">
         <ul class="collection with-header">
            <% if(items.length > 0 ){ items.forEach(element => { %>
            <li class="collection-item">
               <div>
                  <a href="/items/<%= element.id %>">
                     <%= element.name %> <%= element.price %>
                  </a>

                  <a href="#!" class="secondary-content">
                     <i class="material-icons modal-trigger" href="#modal1"
                        >edit</i
                     >
                     <i class="material-icons">delete</i>
                  </a>
               </div>
            </li>
            <% }); }else{ } %>
         </ul>
      </div>
      <div id="modal1" class="modal">
         <div class="modal-content">
            <h4>Edit form</h4>

            <form action="" class="edit_form">
               <input type="text" name="name" placeholder="item name">
               <input type="text" name="price" placeholder="item price">
               <button class="btn">Update</button>
            </form>
         </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
         document.addEventListener("DOMContentLoaded", function () {
            var elems = document.querySelectorAll(".modal");
            var instances = M.Modal.init(elems);
         });
      </script>
   </body>
</html>
